body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f8ff;
    margin: 0;
}

header {
    width: 100%;
    background-color: #004080;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

#flag {
    max-height: 50px;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

form {
    margin-top: 20px;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#profile {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#profile form {
    text-align: left;
}

#profilePic,
#qrCode {
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 100px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#shapes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}



.circle {
    border-radius: 50%;
    background-color: #007bff;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #007bff;
}
